@using MudBlazor
@page "/commands"

<PageTitle>Commands</PageTitle>

<b>
    <h1 class="text-white">
        <i class="bi bi-command"></i>
        Commands
    </h1>
</b>
<hr class="text-white"/>

<b>
    <h1 class="text-white">
        <i class="bi bi-tsunami"></i>
        Images
    </h1>
</b>
<div class="table-responsive">
<table class="table table-dark table-striped table-hover table-bordered table-active image-table-corner table">
    <thead>
    <tr>
        @foreach (var heading in Headings)
        {
            <th>@heading</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var dockerImage in DockerImages)
    {
        <tr>

            <td>@dockerImage.Repository</td>
            <td>@dockerImage.Tag</td>
            <td>@dockerImage.ImageId</td>
            <td>@dockerImage.Created</td>
            <td>@dockerImage.Size</td>
        </tr>
    }
    </tbody>
</table>
</div>