@page "/"
@using BotDashboard.App.Constants

<PageTitle>Home</PageTitle>

<style>
    body{
     background-color: #08081C;
    }
</style>

<h1 class="display-5 text-white">Control Panel</h1>
<br/>
<b>
    <h2 class="text-white">Containers Running</h2>
</b>

<div class="row">
    @if (Containers.Count == 0)
    {
        <p class="lead text-white">There are no containers currently running...</p>
    }
    @foreach (var container in Containers)
    {
        <div class="col-md-4 mb-2">
            <div class="card text-white rounded-3" style="background-color: #080E2C">
                <div class="position-relative">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <div class="row">
                            <div class="col-md-6 justify-content-start">
                                <img src="https://cdn.iconscout.com/icon/free/png-256/free-discord-4062811-3357697.png?f=webp"
                                     class="mt-2 ms-3" width="50" height="50" alt="@container.Image"/>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check form-switch mt-3">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                </div>
                            </div>
                        </div>
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title lead">@container.Image</h5>
                        <p class="card-text mt-4">Container Id: @container.ContainerId</p>
                        <p class="card-text">Created: @container.Created</p>
                        <p class="card-text">Status: @container.Status</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<p class="text-white col-md-5">Last Fetched @Time</p>
<button class="btn btn-dark rounded-pill mt-1" style="background-color: #4111C6" @onclick="ListContainers">List Containers</button>