@page "/"
@using BotDashboard.App.Constants

<PageTitle>Dashboard</PageTitle>

<div class="container-fluid logo-container text-white d-flex align-items-center justify-content-center">
    <img src="imgs/Bot Harbot - Logo Resized.png" alt="Bot Harbor Logo" class="img-fluid"/>
</div>
<b>
    <h2 class="text-white mt-4">
        <i class="bi bi-box-seam"></i>
        Containers Running
    </h2>
</b>

<div class="row">
    @if (Containers.Count == 0)
    {
        <p class="lead text-white">There are no containers currently running...</p>
    }
    @foreach (var container in Containers.OrderBy(x => x.Image))
    {
        <div class="col-md-4 mb-4">
            <div class="card container-card">
                <div class="position-relative">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <div class="mt-2 ms-3">
                            <img src="https://cdn.iconscout.com/icon/free/png-256/free-discord-4062811-3357697.png?f=webp"
                                 width="50" height="50" alt="@container.Image"/>
                        </div>
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title lead">
                            @container.Image.Replace("kalebg08/", "").ToUpper()
                        </h5>
                        <p class="card-text mt-4" style="color: #8893AC">Container Id: @container.ContainerId</p>
                        <p class="card-text" style="color: #8893AC">Created: @container.Created</p>
                        <p class="card-text" style="color: #8893AC">Status: @container.Status</p>
                    </div>
                </div>
                <div class="form-check form-switch position-absolute form-check-position">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" @onclick="() => StopImage(container.ContainerId)" checked>
                </div>
            </div>
        </div>
    }
</div>
<p class="text-white">Last Fetched @Time</p>
<hr class="text-white"/>

<!-- Fix btn layout -->
<div class="row mt-2 mb-4">
    <div class="col-md-6">
        <b>
            <h2 class="text-white"><i class="bi bi-command"></i> Commands</h2>
        </b>
        <div class="row mt-3 gy-3 command-btn-container">
            <div class="col-md-4 mb-3">
                <button class="btn btn-dark rounded-pill list-containers-btn p-3" @onclick="ListContainers">
                    <i class="bi bi-list"></i>
                    List Containers
                </button>
                <!-- Add get stats btn for Ubuntu memory usage data -->
                <button class="btn btn-dark rounded-pill list-containers-btn p-3 mt-2">
                    <i class="bi bi-memory"></i>
                    Get Memory Usage
                </button>
                <button class="btn btn-dark rounded-pill list-containers-btn p-3 mt-2" @onclick="() => RunImage(DockerRepository.JokeBot)">
                    <i class="bi bi-robot"></i>
                    Start @DockerRepository.JokeBot
                </button>
            </div>
            <div class="col-md-4 mb-3">
                <button class="btn btn-dark rounded-pill list-containers-btn p-3" @onclick="() => RunImage(DockerRepository.TriviaBot)">
                    <i class="bi bi-robot"></i>
                    Start @DockerRepository.TriviaBot
                </button>
                <button class="btn btn-dark rounded-pill list-containers-btn p-3 mt-2" @onclick="() => RunImage(DockerRepository.FactBot)">
                    <i class="bi bi-robot"></i>
                    Start @DockerRepository.FactBot
                </button>
                <button class="btn btn-dark rounded-pill list-containers-btn p-3 mt-2" @onclick="() => RunImage(DockerRepository.PremBot)">
                    <i class="bi bi-robot"></i>
                    Start @DockerRepository.PremBot
                </button>
            </div>
            <div class="col-md-4 mb-3">
                <button class="btn btn-dark rounded-pill list-containers-btn p-3" @onclick="() => RunImage(DockerRepository.JamJunction)">
                    <i class="bi bi-robot"></i>
                    Start @DockerRepository.JamJunction
                </button>
                <button class="btn btn-dark rounded-pill list-containers-btn p-3 mt-2" @onclick="RestartAllImages">
                    <i class="bi bi-arrow-clockwise"></i>
                    Restart All Containers
                </button>
                <button class="btn btn-dark rounded-pill list-containers-btn p-3 mt-2" @onclick="StopAllImages">
                    <i class="bi bi-stop-fill"></i>
                    Stop All Containers
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <!-- Add pie chart for displaying memory -->
        <b>
            <h2 class="text-white"><i class="bi bi-memory"></i> Memory Usage</h2>
        </b>
        <LineChart Width="800"/>

    </div>
</div>