@page "/"
@using BotDashboard.App.Constants

<PageTitle>Home</PageTitle>

<h1 class="display-5">Control Panel</h1>

<br/><h2>Containers Running</h2>
<div class="table-responsive">
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th scope="col">Container Id</th>
            <th scope="col">Image</th>
            <th scope="col">Command</th>
            <th scope="col">Created</th>
            <th scope="col">Status</th>
            <th scope="col">Ports</th>
            <th scope="col">Names</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var container in Containers)
        {
            <tr>
                <td>@container.ContainerId</td>
                <td>@container.Image</td>
                <td>@container.Command</td>
                <td>@container.Created</td>
                <td>@container.Status</td>
                <td>@container.Ports</td>
                <td>@container.Names</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<br/><button class="btn btn-primary mt-3" @onclick="ListContainers">List Containers</button>