@page "/"
@using BotDashboard.App.Constants
@using MudBlazor
@inject ISnackbar Snackbar

<PageTitle>Dashboard</PageTitle>

<div class="container-fluid logo-container text-white d-flex align-items-center justify-content-center">
    <img src="imgs/Bot Harbor - Logo Resized.png" alt="Bot Harbor Logo" class="img-fluid"/>
</div>

<div class="row gy-3 mt-4">
    <div class="col-md-6 d-flex flex-column">
        <h2 class="text-white fw-bold"><i class="bi bi-command"></i> Commands</h2>
        <div class="card main-site-card flex-fill">
            <div class="position-relative">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <div class="mt-4 ms-3 text-center">
                        <img src="imgs/1024px-DigitalOcean_logo.svg.png"
                             width="192" height="192" alt="Discord Logo"/>
                    </div>
                </div>
                <div class="card-body text-center">
                    <div class="container justify-content-center">
                        <div class="row">
                            <div class="col-md-12">
                                <MudButtonGroup Class="d-flex justify-content-center gap-2" Color="Color.Primary"
                                                Size="Size.Large" Variant="Variant.Filled">
                                    <MudButton Disabled="Locked" Class="text-white" OnClick="StopAllContainers">Stop All
                                        Containers
                                    </MudButton>
                                    <MudButton Disabled="Locked" Class="text-white" OnClick="RestartAllContainers">
                                        Restart All
                                        Containers
                                    </MudButton>
                                    <MudButton Disabled="Locked" Class="text-white" OnClick="() => ListContainers()">
                                        List All Containers
                                    </MudButton>
                                    <MudButton Disabled="Locked" Class="text-white" OnClick="() => ListStats()">List
                                        Stats
                                    </MudButton>
                                </MudButtonGroup>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-2 mb-4">
                                <MudButtonGroup Class="d-flex justify-content-center gap-2" Color="Color.Tertiary"
                                                Size="Size.Large" Variant="Variant.Filled">
                                    <MudButton Disabled="Locked" Class="text-white"
                                               OnClick="() => RunImage(DockerRepository.JokeBot)">
                                        Start JokeBot
                                    </MudButton>
                                    <MudButton Disabled="Locked" Class="text-white"
                                               OnClick="() => RunImage(DockerRepository.TriviaBot)">
                                        Start TriviaBot
                                    </MudButton>
                                    <MudButton Disabled="Locked" Class="text-white"
                                               OnClick="() => RunImage(DockerRepository.FactBot)">
                                        Start FactBot
                                    </MudButton>
                                    <MudButton Disabled="Locked" Class="text-white"
                                               OnClick="() => RunImage(DockerRepository.PremBot)">
                                        Start PremBot
                                    </MudButton>
                                    <MudButton Disabled="Locked" Class="text-white"
                                               OnClick="() => RunImage(DockerRepository.JamJunction)">Start JamJunction
                                    </MudButton>
                                    <MudButton Disabled="Locked" Class="text-white"
                                               OnClick="RunYtCipher">Start Youtube Cipher
                                    </MudButton>
                                </MudButtonGroup>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 d-flex flex-column">
        <h2 class="text-white fw-bold"><i class="bi bi-activity"></i> Droplet Stats</h2>
        <div class="card main-site-card flex-fill">
            <div class="position-relative">
                <div class="card-body m-1">
                    <div class="row">

                        <div class="col-md-6">
                            <div>
                                <MudChart ChartType="ChartType.Donut"
                                          Width="255px"
                                          Height="253px"
                                          InputData="@MemoryUsageData"
                                          InputLabels="@MemoryUsageLabels">
                                    <CustomGraphics>
                                        <text class="donut-inner-text"
                                              x="50%"
                                              y="50%"
                                              dominant-baseline="middle"
                                              text-anchor="middle"
                                              fill="white"
                                              font-family="Helvetica"
                                              font-size="3">
                                            @Math.Round(MemoryUsagePercentage)% / 100%
                                        </text>
                                    </CustomGraphics>
                                </MudChart>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <MudChart ChartType="ChartType.Donut"
                                          Width="255px"
                                          Height="253px"
                                          InputData="@CpuUsageData"
                                          InputLabels="@CpuUsageLabels">
                                    <CustomGraphics>
                                        <text class="donut-inner-text"
                                              x="50%"
                                              y="50%"
                                              dominant-baseline="middle"
                                              text-anchor="middle"
                                              fill="white"
                                              font-family="Helvetica"
                                              font-size="3">
                                            @Math.Round(CpuUsagePercentage)% / 100%
                                        </text>
                                    </CustomGraphics>
                                </MudChart>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <p class="text-white text-center">
                Last Fetched: @StatFetchTime
            </p>
        </div>
    </div>
</div>

<hr class="text-white"/>

<h2 class="text-white mb-4 fw-bold">
    <i class="bi bi-box-seam"></i>
    Containers Running
</h2>
<div class="row gy-2">
    @if (Containers.Count == 0)
    {
        <p class="text-white">There are no containers currently running...</p>
    }
    @foreach (var container in Containers.OrderBy(x => x.Image))
    {
        <div class="col-md-4 mb-4">
            <div class="card container-card">
                <div class="position-relative">
                    <div class="row">
                        <div class="col-6">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <div class="mt-2 ms-3">
                                    @if (container.Image.Contains("ghcr.io/kikkia/yt-cipher"))
                                    {
                                        <img src="https://www.svgviewer.dev/static-svgs/405425/youtube"
                                             width="50" height="50" alt="@container.Image"/>
                                    }
                                    else
                                    {
                                        <img src="https://www.svgviewer.dev/static-svgs/13822/discord-icon.svg"
                                             width="50" height="50" alt="@container.Image"/>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex flex-row justify-content-end mt-3">
                                <MudButton Disabled="Locked" OnClick="() => RestartContainer(container.ContainerId)" Class="mr-1"
                                           Color="Color.Tertiary" Variant="Variant.Filled">Restart
                                </MudButton>
                                <MudButton Disabled="Locked" OnClick="() => StopContainer(container.ContainerId)" Class="mr-4"
                                           Color="Color.Error" Variant="Variant.Filled">Stop
                                </MudButton>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        @if (container.Image.Contains("kalebg08"))
                        {
                            <h5 class="card-title fw-bold">
                                @container.Image.Replace("kalebg08/", "").ToUpper()
                            </h5>
                        }
                        else
                        {
                            <h5 class="card-title fw-bold">
                                @container.Image.Replace("ghcr.io/kikkia/", "").Replace(":master", "").ToUpper()
                            </h5>
                        }
                        <p class="card-text text-white mt-4" style="color: #8893AC">Container
                            Id: @container.ContainerId</p>
                        <p class="card-text text-white" style="color: #8893AC">Created: @container.Created</p>
                        <p class="card-text text-white" style="color: #8893AC">Status: @container.Status</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<p class="text-white">Last Fetched: @ContainerFetchTime</p>