@page "/stats"
@attribute [StreamRendering]
@using MudBlazor

<PageTitle>Stats</PageTitle>

<div class="row gy-3 mb-4">
    <div class="col-md-6">
        <h2 class="text-white fw-bold"><i class="bi bi-memory"></i> PC Memory Usage</h2>
        <div class="card main-site-card">
            <div class="position-relative">
                <div class="card-body">
                    <MudChart ChartType="ChartType.Donut" Width="350px" Height="350px" InputData="@MemoryUsageData" InputLabels="@MemoryUsageLabels">
                        <CustomGraphics>
                            <text class="donut-inner-text" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="white" font-family="Helvetica" font-size="3">@MemoryUsagePercentage% / 100%</text>
                        </CustomGraphics>
                    </MudChart>
                    <p class="text-white text-center">Last Fetched: @MemoryFetchTime</p>

                </div>
            </div>
            <MudButtonGroup class="d-flex justify-content-center" Color="Color.Primary" Size="Size.Large" Variant="Variant.Outlined" Style="margin-bottom: 2em">
                <MudButton OnClick="ListMemoryUsagePercentage">Memory Usage</MudButton>
            </MudButtonGroup>
        </div>
    </div>
    <div class="col-md-6">
        <h2 class="text-white fw-bold"><i class="bi bi-cpu"></i> PC CPU Usage</h2>
        <div class="card main-site-card">
            <div class="position-relative">
                <div class="card-body">

                    <MudChart ChartType="ChartType.Donut" Width="350px" Height="350px" InputData="@CpuUsageData" InputLabels="@CpuUsageLabels">
                        <CustomGraphics>
                            <text class="donut-inner-text" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="white" font-family="Helvetica" font-size="3">@CpuUsagePercentage% / 100%</text>
                        </CustomGraphics>
                    </MudChart>
                    <p class="text-white text-center">Last Fetched: @CpuFetchTime</p>
                </div>
            </div>
            <MudButtonGroup class="d-flex justify-content-center" Color="Color.Primary" Size="Size.Large" Variant="Variant.Outlined" Style="margin-bottom: 2em">
                <MudButton OnClick="ListCpuUsagePercentage">Cpu Usage</MudButton>
            </MudButtonGroup>
        </div>
    </div>
</div>